<app-navbar></app-navbar>
<app-breadcrumb></app-breadcrumb>
<div class="row fondo">
    <div class="col-12 col-sm-12 col-md-4 col-lg-2">
        <app-sidebar></app-sidebar>
    </div>
    <div class="col-12 col-sm-12 col-md-8 col-lg-9">
        <app-campaigns-item></app-campaigns-item>
    </div>
</div>
<router-outlet>
</router-outlet>