<div class="card mt-2" *ngIf="this.data_campaign">
    <div class="card-body texto" [innerHTML]="this.data_campaign.itemVariants[0].description">
    </div>

    <div class="card mt-1 m-3 texto2" *ngFor="let item of this.data_campaign.actions">
        <div class="card-body">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" (change)="checkStatus($event, item._id)" name="check{{item._id}}" class="custom-control-input" id="customCheck{{item._id}}">
                <label class="custom-control-label" for="customCheck{{item._id}}">{{item.name}}</label>
            </div>
            <div *ngFor="let x of item.actionVariants" [innerHTML]="x.description"></div>
        </div>
    </div>
</div>