.texto {
    text-align: left;
    font: normal normal normal 14px/17px Lato;
    letter-spacing: 0px;
    color: #14375F;
    opacity: 1;
}

.texto2 {
    text-align: left;
    font: normal normal normal 15px/18px Lato;
    letter-spacing: 0px;
    color: #14375F;
    opacity: 1;
}