.logo {
    top: 6px;
    left: 99px;
    width: 156px;
    height: 54px;
    opacity: 1;
}

.navbar {
    background-color: transparent !important;
}

a {
    font-family: Lato;
    text-align: left;
    font: normal normal normal 14px/17px Lato !important;
    letter-spacing: 0px;
    color: #14375F !important;
    opacity: 1;
}