<div class="col-12 col-sm-12 col-md-12 col-lg-12">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="/assets/img/Artwork9.svg" class="logo" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="mt-2 nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="mt-2 nav-link" href="#">Add New Account</a>
                </li>
                <li class="nav-item">
                    <a class="mt-2 nav-link" href="#">View Optimizations</a>
                </li>
                <li class="nav-item">
                    <a class="mt-2 nav-link" href="#">Help Center</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="assets/img/Avatar.png" class="rounded-circle"> Jonh Doe
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>