.text1 {
    /* text-align: left; */
    font: normal normal normal 12px/15px Lato;
    letter-spacing: 0px;
    color: #B2B2B2;
    opacity: 1;
}

.text2 {
    /* text-align: left; */
    font: normal normal bold 24px/29px Lato;
    letter-spacing: 0px;
    color: #14375F;
    opacity: 1;
}

li.borderless {
    border: 0 none;
    background: #FAFAFA 0% 0% no-repeat padding-box;
    opacity: 1;
    font: normal normal normal 14px/17px Lato;
    letter-spacing: 0px;
    color: #14375F;
    opacity: 0.57;
}

.active {
    background: #FFFFFF 0% 0% no-repeat padding-box !important;
    box-shadow: -4px 5px 8px #00000008 !important;
    opacity: 1 !important;
    font: normal normal normal 14px/17px Lato;
    letter-spacing: 0px;
    color: #14375F;
    opacity: 1;
    ;
}