<div class="text-left ml-5 mt-2">
    <p class="tex1">Scenario selected</p>
    <p class="text2">High CPA</p>
</div>
<ul class="list-group ml-3">
    <li *ngFor="let item of items_camp" class="list-group-item borderless" [ngClass]="{'active': selectedItem == item}" (click)="listClick($event, item)">{{item.name}}</li>
</ul>