<div class="row">
    <div class="col-12 col-sm-12 col-md-3 col-lg-3">
        <p class="ml-2">Campaign Group Name</p>
        <span class="ml-2" *ngIf="this.cg_data">{{this.cg_data.name}}</span>
    </div>
    <div class="col-12 col-sm-12 col-md-3 col-lg-3">
        <p>Campaign Name</p>
        <span *ngIf="this.campaign_data">{{this.campaign_data.name}}</span>
    </div>
    <div class="col-12 col-sm-12 col-md-3 col-lg-3">
        <p>Account Progress</p>
        <span>0 out of {{this.count_campagins}} campaigns analyzed</span>
    </div>
    <div class="col-12 col-sm-12 col-md-3 col-lg-3 d-flex align-self-center">
        <button type="button" class="btn btn-light" [disabled]="disable">Continue</button>
    </div>
</div>