.row {
    background: #0971B9 0% 0% no-repeat padding-box;
    opacity: 1;
}

p {
    text-align: left;
    font: normal normal normal 12px/15px Lato;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 0.5;
    text-transform: uppercase;
    margin-top: 10px;
}

span {
    text-align: left;
    font: normal normal normal 16px/19px Lato;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}